#locations-template {
  position: relative;
  margin-bottom: 32px;
  background-color: #fff;
}

#locations-template .locations-filter-bar {
  background-color: #eee;
  padding: 12px;
}

#locations-template .locations-cols {
  display: flex;
  flex-wrap: wrap;
}

#locations-template .locations-cols .locations-list-col {
  width: 50%;
  background-color: #fff;
}

#locations-template .locations-cols .locations-map-col {
  width: 50%;
}

#locations-template .locations-cols .locations-list {
  display: block;
  max-height: 450px;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: auto;
  scroll-behavior: smooth;
}

#locations-template .locations-cols .locations-list li {
  padding: 12px 0;
  background-color: #fffff;
}

#locations-template .locations-cols .locations-list li p:last-of-type {
  margin: 0;
}

#locations-template .locations-cols .locations-list li.active {
  background-color: #EFF2FF !important;
}

#locations-template .locations-cols .locations-list li.active .locations-item-label a {
  color: #fff;
  background-color: #000;
}

#locations-template .locations-cols .locations-list li:nth-child(odd) {
  background-color: #f3f3f3;
}

#locations-template #locations-map {
  width: 100%;
  height: 450px;
}

#locations-template #locations-loader {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 20px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.35);
  z-index: 2;
  transition: opacity 0.25s ease;
  visibility: visible;
}

#locations-template #locations-loader.hide {
  z-index: -1;
  visibility: hidden;
  opacity: 0;
}

#locations-search-instructions {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 24px;
  font-weight: 700;
  width: 100%;
  max-width: 80%;
  text-align: center;
  transform: translate(-50%, -50%);
  z-index: 1;
}

#locations-search-instructions.hide {
  display: none;
  z-index: -1;
  visibilty: hidden;
  opacity: 0;
}

#locations-not-found {
  padding: 12px;
  font-size: 18px;
}

#locations-not-found.hide {
  display: none;
}

.locations-filter-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

#locations-radius,
#locations-zip,
#locations-levels,
button {
  height: 38px;
  margin-left: 3px;
}

#locations-zip {
  width: 200px;
}

#locations-radius,
#locations-levels {
  width: 150px;
}

#locations-radius,
#locations-zip,
#locations-levels {
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 0;
  border: 1px solid #444;
  box-shadow: none;
  transition: border 0.25s ease, background-color 0.25s ease;
  outline: none;
}

#locations-radius:focus,
#locations-zip:focus,
#locations-levels:focus {
  border-color: #111;
  background-color: #f3f3f3;
}

.locations-marker-image {
  width: 200px;
  height: 140px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin-bottom: 12px;
}

.locations-item-inner {
  display: flex;
  flex-wrap: wrap;
}

.locations-item-label {
  width: 10%;
}

.locations-item-label a {
  display: block;
  width: 24px;
  height: 24px;
  border: 1px solid #222;
  border-radius: 50%;
  margin: 0 auto;
  text-align: center;
  color: #111;
  font-weight: 700;
  text-decoration: none;
  transition: background-color 0.25s ease, color 0.25s ease;
}

.locations-item-label a:hover {
  background-color: #333;
  color: #fff;
}

.locations-item-info {
  flex-grow: 2;
  padding-right: 12px;
}

.locations-item-info h3 {
  font-size: 20px;
  font-weight: 700;
}

.locations-item-info h5 {
  font-weight: normal;
  font-size: 16px;
}

.locations-item-info .locations-item-address p,
.locations-item-info .locations-item-contact p {
  font-size: 14px;
}

.locations-item-image {
  width: 25%;
  padding-right: 18px;
}

.locations-item-image a {
  width: 100%;
  display: block;
  cursor: pointer;
  transition: opacity 0.25s ease;
  text-decoration: none;
}

.locations-item-image a:hover {
  opacity: 0.75;
}

.locations-item-image a img {
  max-width: 100%;
  height: auto;
}

.location-image img {
  max-width: 100%;
  height: auto;
}

#location-single-map {
  width: 100%;
  height: 450px;
}

@media (max-width: 840px) {
  #locations-template {
    position: relative;
    margin-bottom: 32px;
  }

  #locations-template .locations-cols {
    display: flex;
    flex-wrap: wrap;
  }

  #locations-template .locations-cols .locations-list-col {
    width: 100%;
  }

  #locations-template .locations-cols .locations-map-col {
    width: 100%;
  }

  .locations-filters,
  .locations-search {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .locations-filters {
    margin-bottom: 12px;
  }
}

